# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
.wix/

# Visual Studio
.vs/
*.userprefs

# Linux
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Release packages
*.zip
publish/